<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webchat</title>
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
            var ws=new WebSocket("ws://192.168.0.115:8000/webchat");
            ws.onmessage = function(data){
                $('#contens').append("<p>"+data.data+"</p>")
            }
            function sendMsg(){
                msg=$('#msg').val()
                if(msg != ''){
                    ws.send(msg);
                    $('#msg').val('');

                }

            }
    </script>
</head>
<body>
    <div id="contens" style="height: 500px;overflow: auto;border: 1px;"></div>
    <div>
        <textarea id="msg"></textarea>
        <a href="javascript:;" onclick="sendMsg()">发送</a>
    </div>
</body>
</html>
