{% extends 'base_kit.html' %}

{% block body_content %}
<div class="main_con clearfix">
    {% block body_left %}
    <div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" class="active">· 个人信息</a></li>
				<li><a href="/user/user_center_order/">· 全部订单</a></li>
				<li><a href="/user/user_center_site/">· 收货地址</a></li>
			</ul>
    </div>
    {% endblock body_left %}
    {% block body_right %}
    {% endblock body_right %}
</div>
{% endblock body_content %}