{% extends 'df_user/user_center_base.html' %}


{% block body_right %}
	<div class="right_content clearfix">
			<div class="info_con clearfix">
			<h3 class="common_title2">基本信息</h3>
					<ul class="user_info_list">
						<li><span>用户名：</span>{{ user_info.uname }}</li>
						<li><span>联系方式：</span>{{ user_info.uphone }}</li>
						<li><span>联系地址：</span>{{ user_info.uaddress }}</li>
					</ul>
			</div>

			<h3 class="common_title2">最近浏览</h3>
			<div class="has_view_list">
				<ul class="goods_type_list clearfix">

				{% for each in clicked_list %}
				 <li>
					<a href="/detail_{{ each.id }}"><img src="/static/{{ each.gpic }}"></a>
					<h4><a href="/detail_{{ each.id }}">{{ each.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ each.gprice }}</span>
						<span class="unit">{{ each.gprice }}/{{ each.gunit }}</span>
						<a href="/cart/add_{{ each.id }}_1" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock body_right %}

